{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}





<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1>
                Restaurant booking management software
            </h1>

            <p>This web application allows restaurant employees to manage the bookings and process food / drink orders from same environment. Ideally it should be connected to POS system and can run on tablets or desktop PC.
            </p>
            <p>Easy to use booking management system with search functionality and practical and fast access to existing bookings is suitable for small restaurants and food serving operations.</p>
        </div>
    </div>

</div> <!-- end of main container -->







    <script>
    $( document ).ready(function()
    {


    });



</script>



{% endblock %}


